{% load static %}

<!DOCTYPE html>
<html lang="en">
<!-- Header Section -->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Face Recognition Login System</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />

</head>


<body>



    <div class="bg-dark py-5">
        <div class="login">
            <div class="form">
                <form class="registration-form">
                    <input type="text" placeholder="name" />
                    <input type="password" placeholder="password" />
                    <input type="text" placeholder="email" />
                    <button>Create</button>
                    <p><a href="#">Log In</a></p>
                </form>
               
            </div>
        </div>
    </div>



</body>

</html>